
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Zen Dots', cursive;
}
body{
    background-color:#120070;
    font-family: 'Zen Dots', cursive;
}
header{
    background: #123970;
    padding:20px;
}
header > h1{
    text-align: center;
    font-family: 'Zen Dots', cursive;
    font-size:45px;
    color: yellow;
}
.score-board{
    border:5px solid white;
    margin: 15px auto;
    border-radius: 10px;
    text-align: center;
    width:200px;
    color:white;
    font-size:40px;
    padding: 10px 20px;
    font-family: 'Zen Dots', cursive;
    position: relative;
}
.badge{
    background:red;
    color:white;
    font-size:10px;
    padding: 2px 5px;
    font-family: 'Zen Dots', cursive;
    border-radius: 8px;
}
#user-lable{
    position: absolute;
    top:25px;
    left:-25px;
}
#computer-lable{
    position: absolute;
    top:25px;
    right:-25px;
}
.result{
    text-align: center;
    color: white;
    font-size:40px;
    font-family: 'Zen Dots', cursive;
}
.choices{
    text-align: center;
    margin: 20px 0px;
}
.choice{
    border: 2px solid white ;
    display: inline-block;
    border-radius: 50%;
    padding: 15px;
    margin: 0px 20px;
    transition: all 0.4s ease;
}
.choice:hover{
    box-shadow: 0 5px 10px 0 rgb(250, 246, 246);
    cursor: pointer;
}

#action-message{
    text-align: center;
    color: white;
    font-size:40px;
    font-family: 'Zen Dots', cursive;
    margin-top: 20px;
}
.green_glow {
    border: 5px solid rgb(7, 245, 7);
    box-shadow: 0 5px 10px 0 rgb(7, 245, 7) !important;
}
.red_glow {
    border: 5px solid red;
    box-shadow: 0 5px 10px 0 rgb(245, 0, 0) !important;
}
.grey_glow {
    border: 5px solid grey;
    box-shadow: 0 5px 10px 0 rgb(128, 128, 128) !important;
}

